html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.custom-toast {
    width: 400px !important;
    min-height: 80px !important;
    font-size: 18px;
}

.map-container {
    flex: 1;
    flex-grow: 1;
    position: relative;
    height: 100%;
    width: 80%;
    z-index: 1;
  }

.map-tooltip {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 999;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}